{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} Oceniaj wszystko i wszystkich! {% endblock %}

{% block pageDescription %} Portal z rankingami, oceniaj sławnych ludzi, filmy, youtuberów czy najlepsze piwo! Dowiedz się co inni myślą. {% endblock %}

{% block bodyId %} homepage {% endblock %}

{% block topImage %}
    <!--Carousel top-->
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {% for slide in Slides %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index }}" class=""></li>
                    {% endfor %}
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner ">
                    <div class="item active">
                        <img src="{{ asset('img/slajdy/slide0.jpg') }}" alt="slajd 1"/>

                        <div class="carousel-caption">
                            <h3>WITAJ NA RANKINGOWIEC.PL</h3>

                            <p>W pierwszym polskim serwisie rankingowym. Dowiedz się jakie są najpopularniejsze filmy,
                                kto jest według polaków największym polskim bohaterów lub jakie jest najlepsze piwo?
                                Miej realny wpływ na rankingi i głosuj! Oceniaj wszystko i wszystkij!</p>
                        </div>
                    </div>
                    {% for slide in Slides %}
                        <div class="item">
                            <img src="{{ slide.thumbnail }}" alt="{{ slide.slug }}"/>
                            <div class="carousel-caption">
                                <h3>{{ slide.title }}</h3>
                                <a class="button" href="{{ path('ranking_category', {'slug': 'ludzie' }) }}"><span>ZOBACZ RANKING</span></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--end carousel-->

{% endblock %}

{% block underImage %}

    <!--nav bar under carouse-->
    <div class="nav-category">
        <ul>
            <li><a href="{{ path('ranking_category', {'slug': 'ludzie' }) }}"><i class="fa fa-users" aria-hidden="true"></i> LUDZIE </a></li>
            <li><a href="{{ path('ranking_category', {'slug': 'film' }) }}"><i class="fa fa-video-camera" aria-hidden="true"></i> FILM </a></li>
            <li><a href="{{ path('ranking_category', {'slug': 'muzyka' }) }}"><i class="fa fa-music" aria-hidden="true"></i> MUZYKA </a></li>
            <li><a href="{{ path('ranking_category', {'slug': 'sport' }) }}"><i class="fa fa-futbol-o" aria-hidden="true"></i> SPORT </a></li>
            <li><a href="{{ path('ranking_category', {'slug': 'zabawne' }) }}"><i class="fa fa-smile-o" aria-hidden="true"></i> ZABAWNE </a></li>
            <li><a href="{{ path('ranking_category', {'slug': 'wydarzenia' }) }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> WYDARZENIA </a></li>
            <li><a href="{{ path('ranking_category', {'slug': 'internet' }) }}"><i class="fa fa-laptop" aria-hidden="true"></i> INTERNET </a></li>
            <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> WIĘCEJ </a></li>
        </ul>
    </div>

{% endblock %}

{% block pageContent %}

    <!-- SECTION THE MOST POPULAR-->

    <section class="home-ranking-section">
        <div class="container">
            <div class="row">
                <header>
                    <h2 class="home_title"><i class="fa fa-star" aria-hidden="true"></i> Najpopularniejsze rankingi</h2>
                </header>

                {% for ranking in Popular|slice(0,5) %}
                    {% if loop.index0 < 2 %}
                        <div class="col-md-6 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="{{ ranking.slug }}">

                                    <div class="rank-title "><h3>{{ ranking.title }} </h3></div>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-4 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="1">

                                    <div class="rank-title "><h3>{{ ranking.title }}</h3></div>
                                </a>
                            </div>
                        </div>

                    {% endif %}
                {%  endfor %}

                <a class="button" href="{{ path('ranking_category', {'slug': 'popularne' }) }}"><span>WIĘCEJ POPULARNYCH</span></a>

            </div>
        </div>
    </section>

    <div class="separator">
        <div class="mask"></div>
    </div>

    <section class="home-ranking-section">
        <div class="container">
            <div class="row">
                <header>
                    <h2 class="home_title"><i class="fa fa-clock-o" aria-hidden="true"></i> Niedawno dodane</h2>
                </header>


                {% for ranking in Newest|slice(0,5) %}
                    {% if loop.index0 < 2 %}
                        <div class="col-md-6 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="{{ ranking.slug }}">

                                    <div class="rank-title "><h3>{{ ranking.title }} </h3></div>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-4 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="1">

                                    <div class="rank-title "><h3>{{ ranking.title }}</h3></div>
                                </a>
                            </div>
                        </div>

                    {% endif %}
                {%  endfor %}

                <a class="button" href="{{ path('ranking_newest') }}"><span>WIĘCEJ NAJNOWSZYCH</span></a>

            </div>
        </div>
    </section>

    <div class="separator">
        <div class="mask"></div>
    </div>

    <section class="home-ranking-section">
        <div class="container">
            <div class="row">
                <header>
                    <h2 class="home_title"><i class="fa fa-futbol-o" aria-hidden="true"></i> SPORT</h2>
                </header>

                {% for ranking in Sport|slice(0,5) %}
                    {% if loop.index0 < 2 %}
                        <div class="col-md-6 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="{{ ranking.slug }}">

                                    <div class="rank-title "><h3>{{ ranking.title }} </h3></div>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-4 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="1">

                                    <div class="rank-title "><h3>{{ ranking.title }}</h3></div>
                                </a>
                            </div>
                        </div>

                    {% endif %}
                {%  endfor %}

                <a class="button" href="{{ path('ranking_category', {'slug': 'sport' }) }}"><span>WIĘCEJ SPORTOWYCH</span></a>

            </div>
        </div>
    </section>

    <div class="separator">
        <div class="mask"></div>
    </div>

    <section class="home-ranking-section">
        <div class="container">
            <div class="row">
                <header>
                    <h2 class="home_title"><i class="fa fa-users" aria-hidden="true"></i> LUDZIE</h2>
                </header>


                {% for ranking in People|slice(0,5) %}
                    {% if loop.index0 < 2 %}
                        <div class="col-md-6 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="{{ ranking.slug }}">

                                    <div class="rank-title "><h3>{{ ranking.title }} </h3></div>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-4 smallpadding">
                            <div class="ranking">
                                <a href="#">
                                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="1">

                                    <div class="rank-title "><h3>{{ ranking.title }}</h3></div>
                                </a>
                            </div>
                        </div>

                    {% endif %}
                {%  endfor %}

                <a class="button" href="{{ path('ranking_category', {'slug': 'ludzie' }) }}"><span>WIĘCEJ O LUDZIACH</span></a>

            </div>
        </div>
    </section>

{% endblock %}