{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} {{ Object.title }}  {% endblock %}

{% block pageDescription %} Opis pozycji w rankingu: {{ Object.description|cutText(150) }} {% endblock %}

{% block customScripts %}
    <script type="text/javascript">
        var rankingData = {
            "good": {{ Object.totalResult['0'] }},
            "bad": {{ Object.totalResult['1'] }}
        };
    </script>
{% endblock %}

{% block bodyId %} object {% endblock %}

{% block topImage %}

    <!--Object top info-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="object-info">
                <img class="img-background" src="{{ asset('img/object_backgroud.jpg') }}" alt="object_bq">

                <div class="container object-wrapper nopadding">
                    <div class="background"></div>
                    <div class="col-md-4 hidden-sm hidden-xs nopadding">
                        <img class="object-photo" src="{{ vich_uploader_asset(Object, 'thumbnailFile') }}" alt="{{ Object.title }}">
                    </div>
                    <div class="col-md-5 col-xs-7">
                        <h1 class="object-title">{{ Object.title }}</h1>
                        <p class="object-desc">{{ Object.description|cutText(500, '') }}</p>
                        <a class="wiki-link" href="{{ Object.moreLink }}" target="_blank">Dowiedz się więcej...</a>
                    </div>
                    <div class="col-md-3 col-xs-5">
                        <canvas id="myCanvas"></canvas>
                        <ul>
                            <li class="up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></li>
                            <li class="down"><i class="fa fa-thumbs-down" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--END Object top info-->

{% endblock %}


{% block pageContent %}

    <!-- SECTION WITH RANKING-->
    <section class="category-ranking">
        <div class="container">
            <div class="row">

                <!--RANKING-->
                <section class="object-ranking col-md-12 nopadding">

                    <h2 class="title">Rankingi z: <span class="redColor">{{ Object.title }}</span> </h2>


                    {% for ranking in Rankings %}

                        <div class="ranking-list-squere col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <a href="{{ path('single_ranking', {'slug': ranking.slug }) }}">
                                    <div class="thumbnail-img">
                                        <img class="img-responsive" src="{{ ranking.thumbnail }}" alt="{{ ranking.title }}">
                                    </div>
                                    <div class="caption">
                                        <h3>{{ ranking.title }}</h3>
                                        <span class="badge"><i class="fa fa-cubes" aria-hidden="true"></i> Pozycji: {{ ranking.items|length }}</span>
                                        <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: {{ ranking.numbVisits|restyleNumber }}</span>
                                        {{ ranking.description|cutText(200) }}
                                    </div>
                                </a>
                            </div>
                        </div>

                    {% endfor %}


                    <div class="separator">
                        <div class="mask"></div>
                    </div>

                </section>
                <!--ENDRANKING-->

                <!--&lt;!&ndash;SIDEBAR&ndash;&gt;-->
                <!--<aside class="sidebar pull-right col-md-3">-->

                <!--</aside>-->
                <!--&lt;!&ndash;ENDSIDEBAR&ndash;&gt;-->

            </div>
        </div>
    </section>

{% endblock %}
