{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} {{ Ranking.title }} {% endblock %}

{% block pageDescription %} {{ Ranking.description  }}{% endblock %}

{% block bodyId %} ranking {% endblock %}

{% block topImage %}

    <!--Ranking main photo-->
    <div class="container-fluid">
        <div class="row">
            <div class="ranking-photo">
                <img src="{{ Ranking.thumbnail }}" alt="{{ Ranking.slug }}">
                <div class="rank-caption">
                    <h1 class="rank-title">{{ Ranking.title }}</h1>
                    <p class="rank-desc">
                        {{ Ranking.description|cutText(200) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--end Ranking main photo-->

{% endblock %}

{% block underImage %}

    <!--nav bar under main photo-->
    <div class="rank-meta">
        <div class="container">

            <div class="row">
                <div class="col-md-12 nopadding">
                    <ul>
                        <li><i class="fa fa-user" aria-hidden="true"></i>Autor: <a href="#">{{ Ranking.author }}</a></li>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Data: {{ Ranking.publishedDate|date('d-m-Y') }}</li>
                        <li><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: {{ TotalVotes|restyleNumber }}</li>
                        {#<li><i class="fa fa-users" aria-hidden="true"></i> Głosujących: 12 tyś</li>#}
                        <li><i class="fa fa-eye" aria-hidden="true"></i> Wyświetleń: {{ Ranking.numbVisits|restyleNumber }}</li>
                        <li><i class="fa fa-cubes" aria-hidden="true"></i> Pozycji: {{ Ranking.items|length }}</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 nopadding">
                    <ul>
                        <li><i class="fa fa-folder-open" aria-hidden="true"></i>Kategoria:

                            {% for category in Ranking.categories %}
                                <a href="{{ path('ranking_category', {'slug': category.slug }) }}">{{ category.name }}</a>,
                            {% endfor %}

                        </li>
                        <li><i class="fa fa-tags" aria-hidden="true"></i>Tagi:

                            {% for tag in Ranking.tags %}
                                <a href="{{ path('ranking_tag', {'slug': tag.slug }) }}">{{ tag.name }}</a>,
                            {% endfor %}

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block pageContent %}

    <!-- SECTION WITH RANKING-->
    <section class="rank-section">
        <div class="container">
            <div class="row">

                <!--RANKING-->
                <section class="ranking-result col-md-8 nopadding">

                    {#<h4 class="share">Udostępnij:#}
                        {#<a href="#" data-toggle="tooltip" data-placement="bottom" title="Udostępnij na Facebook-u"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>#}
                        {#<a href="#" data-toggle="tooltip" data-placement="bottom" title="Udostępnij na Goole+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>#}
                        {#<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twittnij ranking"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>#}
                        {#<a href="#" data-toggle="tooltip" data-placement="bottom" title="Wyślij e-mail znajomemu"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>#}
                    {#</h4>#}

                    <ul id="rank-tabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#ranking-list" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-list-ol" aria-hidden="true"></i>Ranking</a>
                        </li>
                        <li role="presentation">
                            <a href="#rank-desc" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-file-text-o" aria-hidden="true"></i>Opis</a>
                        </li>
                        <li role="presentation">
                            <a href="#comments" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-comments" aria-hidden="true"></i>Dyskusja</a>
                        </li>
                        <li role="presentation">
                            <a href="#waiting-room" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-clock-o" aria-hidden="true"></i>Poczekalnia</a>
                        </li>
                        <!--<li role="presentation">-->
                        <!--<a href="#ustawienia" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-users" aria-hidden="true"></i>Grupy społeczne</a>-->
                        <!--</li>-->
                        <!--<li role="presentation" class="dropdown">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-users" aria-hidden="true"></i>Grupy społeczne-->
                        <!--<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Kobiety</a></li>-->
                        <!--<li><a href="#">Mężczyźni</a></li>-->
                        <!--<li><a href="#">Wiek: poniżej 20 lat</a></li>-->
                        <!--<li><a href="#">Wiek: 20-30 lat</a></li>-->
                        <!--<li><a href="#">Wiek: 30-50 lat</a></li>-->
                        <!--<li><a href="#">Wiek: powyżej 30-50 lat</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                    </ul>

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="ranking-list">


                            {% for object in Objects %}

                                <ol>
                                    <li>
                                        <div class="col-sm-1 col-xs-1 rank-number nopadding">
                                            <span>{{ loop.index }}</span>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 item-photo nopadding">
                                            <a href="#"><img class="img-thumbnail" src="{{ object.thumbnail }}" alt=""></a>
                                        </div>
                                        <div class="col-sm-2 col-xs-3 thumbns nopadding">
                                            <ul>
                                                <li class="up"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span>{{ object.plus }}</span></li>
                                                <li class="down"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span>{{ object.minus }}</span></li>
                                            </ul>
                                            <div class="result"><i class="fa fa-retweet" aria-hidden="true"></i> Wynik: {{ object.result }}</div>
                                        </div>
                                        <div class="col-sm-7 col-xs-6 item-name">
                                            <h4><a href="{{ path('single_object', {'slug': object.slug }) }}">{{ object.title }}</a> </h4>
                                            {{ object.description|cutText(160) }}
                                        </div>
                                    </li>
                                </ol>

                            {% endfor %} }


                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="rank-desc">
                            <h1>{{ Ranking.title }}</h1>
                            <p>{{ Ranking.description|raw }}</p>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="comments">
                            <div class="comments">

                                <div class="respond">
                                    <header>
                                        <h3>Dodaj komentarz</h3>
                                        <a href="#"> <img class="avatar" src="{{ asset('img/avatar.JPG') }}" alt=""></a>
                                    </header>
                                    <div class="cancel-comment-reply">
                                        <a style="display:none;" href="#" rel="nofollow">Kliknij tutaj, aby anulować odpowiadanie.</a>
                                    </div>

                                    <form id="commentform" method="post" action="#">
                                        <textarea name="comment" placeholder="Treść komentarza"></textarea>
                                        <input class="button" type="submit" value="Wyślij">
                                    </form>

                                </div>

                                <div class="comments-list">
                                    <div class="comment parent">
                                        <div class="inner">
                                            <a href="#"><img class="avatar" src="{{ asset('img/avatar.JPG') }}" alt=""></a>
                                            <h4>
                                                <a href="#">admin</a> w dniu 9 kwietnia 2013 o 10:24
                                                <a class="option" href="#"><i class="fa fa-times" aria-hidden="true"></i> Usuń </a>
                                                <a class="option" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Odpowiedz </a>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed magna orci, eget
                                                egestas tellus. Mauris id lectus lorem, et condimentum est.</p>
                                        </div>

                                        <div class="comment">

                                            <div class="inner">
                                                <a href="#"> <img class="avatar" src="{{ asset('img/avatar.JPG') }}" alt=""></a>
                                                <h4>
                                                    <a href="#">admin</a> w dniu 9 kwietnia 2013 o 10:24
                                                    <a class="option" href="#"><i class="fa fa-times" aria-hidden="true"></i> Usuń </a>
                                                    <a class="option" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Odpowiedz </a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed magna orci, eget
                                                    egestas tellus. Mauris id lectus lorem, et condimentum est.</p>

                                                <div class="comment-awaiting-moderation">Twój komentarz oczekuje na moderację!</div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- <p class="no-comments">Ten wpis nie posiada jeszcze żadnych komentrzy.</p> -->
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="waiting-room">

                            <div class="comments">

                                <div class="respond">
                                    <header>
                                        <h3>Dodaj do poczekalni</h3>
                                        <a href="#"> <img class="avatar" src="{{ asset('img/avatar.JPG') }}" alt=""></a>
                                    </header>
                                    <div class="cancel-comment-reply">
                                        <a style="display:none;" href="#" rel="nofollow">Kliknij tutaj, aby anulować.</a>
                                    </div>

                                    <form id="waiting-room-form" method="post" action="#">
                                        <textarea name="comment" placeholder="Twoja propozycja"></textarea>
                                        <input class="button" type="submit" value="Wyślij">
                                    </form>

                                </div>

                                <div class="comments-list">
                                    <div class="comment parent">
                                        <div class="inner">
                                            <a href="#"><img class="avatar" src="{{ asset('img/avatar.JPG') }}" alt=""></a>
                                            <h4>
                                                <a href="#">admin</a> w dniu 9 kwietnia 2013 o 10:24
                                                <a class="option" href="#"><i class="fa fa-times" aria-hidden="true"></i> Usuń </a>
                                                <a class="option" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Odpowiedz </a>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed magna orci, eget egestas tellus. Mauris id lectus lorem, et condimentum est.</p>
                                        </div>

                                        <div class="comment">

                                            <div class="inner">
                                                <a href="#"> <img class="avatar" src="{{ asset('img/avatar.JPG') }}" alt=""></a>
                                                <h4>
                                                    <a href="#">admin</a> w dniu 9 kwietnia 2013 o 10:24
                                                    <a class="option" href="#"><i class="fa fa-times" aria-hidden="true"></i> Usuń </a>
                                                    <a class="option" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Odpowiedz </a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed magna orci, eget
                                                    egestas tellus. Mauris id lectus lorem, et condimentum est.</p>

                                                <div class="comment-awaiting-moderation">Twój komentarz oczekuje na moderację!</div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- <p class="no-comments">Ten wpis nie posiada jeszcze żadnych komentrzy.</p> -->
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="ustawienia">
                            <h1>POCZEKALNIA</h1>
                        </div>
                    </div>

                    <div class="separator">
                        <div class="mask"></div>
                    </div>

                </section>
                <!--ENDRANKING-->

                <!--SIDEBAR-->
                {{ printRankingSidebar() }}
                {#<aside class="sidebar pull-right col-md-3 hidden-sm">#}
                    {#<header>#}
                        {#<h3>Inne popularne rankingi</h3>#}
                    {#</header>#}

                    {#<section>#}
                        {#<div class="col-xs-12 ranking">#}
                            {#<a href="#">#}
                                {#<img class="img-responsive myBackgroundImage" src="{{ asset('img/ranking_photos/rank1.jpg') }}" alt="1">#}
                                {#<div class="rank-title "><h5>Teorie spiskowe, w które wierzę Teorie </h5></div>#}
                            {#</a>#}
                        {#</div>#}

                        {#<div class="col-xs-12 ranking">#}
                            {#<a href="#">#}
                                {#<img class="img-responsive myBackgroundImage" src="{{ asset('img/ranking_photos/rank1.jpg') }}" alt="1">#}
                                {#<div class="rank-title "><h5>Teorie spiskowe, w które wierzę Teorie </h5></div>#}
                            {#</a>#}
                        {#</div>#}

                        {#<div class="col-xs-12 ranking">#}
                            {#<a href="#">#}
                                {#<img class="img-responsive myBackgroundImage" src="{{ asset('img/ranking_photos/rank1.jpg') }}" alt="1">#}
                                {#<div class="rank-title "><h5>Teorie spiskowe, w które wierzę Teorie </h5></div>#}
                            {#</a>#}
                        {#</div>#}

                        {#<div class="col-xs-12 ranking">#}
                            {#<a href="#">#}
                                {#<img class="img-responsive myBackgroundImage" src="{{ asset('img/ranking_photos/rank1.jpg') }}" alt="1">#}
                                {#<div class="rank-title "><h5>Teorie spiskowe, w które wierzę Teorie </h5></div>#}
                            {#</a>#}
                        {#</div>#}

                        {#<div class="col-xs-12 ranking">#}
                            {#<a href="#">#}
                                {#<img class="img-responsive myBackgroundImage" src="{{ asset('img/ranking_photos/rank1.jpg') }}" alt="1">#}
                                {#<div class="rank-title "><h5>Teorie spiskowe, w które wierzę Teorie </h5></div>#}
                            {#</a>#}
                        {#</div>#}
                    {#</section>#}

                    {#<section>#}
                        {#<header>#}
                            {#<h3>Podobne tagi</h3>#}
                        {#</header>#}

                        {#<ul class="tag-cloud">#}
                            {#<li><a href="#">Najlepszy film</a></li>#}
                            {#<li><a href="#">Aktorzy</a></li>#}
                            {#<li><a href="#">Aktorki</a></li>#}
                            {#<li><a href="#">Nagrody filmowe</a></li>#}
                        {#</ul>#}
                    {#</section>#}
                {#</aside>#}
                <!--ENDSIDEBAR-->
            </div>
        </div>
    </section>

{% endblock %}