{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} {{ ListTitle }} {% endblock %}

{% block pageDescription %} {{ ListTitle }} Rankingowiec to portal z rankingami. Oceniaj sławnych ludzi, filmy, youtuberów czy najlepsze piwo! Dowiedz się co inni myślą. {% endblock %}

{% block bodyId %} rank-list {% endblock %}

{% block topImage %}

    <!--Carousel top-->
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    {% for slide in Slides %}
                        {% if loop.index0 == 0 %}
                            <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class=""></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner ">
                    {% for slide in Slides %}
                        {% if loop.index0 == 0 %}
                            <div class="item active">
                                <img src="{{ slide.thumbnail }}" alt="{{ slide.slug }}"/>
                                <div class="carousel-caption">
                                    <h3>{{ slide.title }}</h3>
                                    <a class="button" href="{{ path('single_ranking', {'slug': slide.slug }) }}"><span>ZOBACZ RANKING</span></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                <img src="{{ slide.thumbnail }}" alt="{{ slide.slug }}"/>
                                <div class="carousel-caption">
                                    <h3>{{ slide.title }}</h3>
                                    <a class="button" href="{{ path('single_ranking', {'slug': slide.slug }) }}"><span>ZOBACZ RANKING</span></a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--end carousel-->

{% endblock %}

{% block underImage %}

    <!--nav bar under carouse-->
    <div class="page-title">
        <h1>{#<i class="fa fa-users" aria-hidden="true"></i> #}{{ ListTitle }} </h1>
    </div>

{% endblock %}

{% block pageContent %}

    <section class="category-ranking">
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-xs-6">
                        {#<form action="#" method="get" class="form-inline filter-search" role="form">#}

                            {#<select name="category" class="select-block">#}
                                {#<option value="dev">Popularne</option>#}
                                {#<option value="des">Najnowsze</option>#}
                                {#<option value="tech">Najw. ocen</option>#}
                            {#</select>#}

                        {#</form>#}
                    </div>

                    <div class="col-xs-6">
                        <h6 class="pull-right"><span class="badge"><i class="fa fa-database" aria-hidden="true"></i> Rankingów: {{ Count }}</span></h6>
                    </div>
                </header>

                <!--Category rankings-->

                {% if Pagination is empty %}
                    <div class="col-xs-12">
                        <h2 class="huge_heading">Brak rankingów w tej taksonomi</h2>
                    </div>

                {% else %}

                    {% for ranking in Pagination %}

                        <div class="ranking-list-squere col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <a href="{{ path('single_ranking', {'slug': ranking.slug }) }}">
                                    <div class="thumbnail-img">
                                        <img class="img-responsive" src="{{ ranking.thumbnail }}" alt="{{ ranking.title }}">
                                    </div>
                                    <div class="caption">
                                        <h3>{{ ranking.title }} </h3>
                                        <span class="badge"><i class="fa fa-cubes" aria-hidden="true"></i> Pozycji: {{ ranking.items|length }}</span>
                                        <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: {{ ranking.numbVisits|restyleNumber }}</span>
                                        {{ ranking.description|cutText(200) }}
                                    </div>
                                </a>

                            </div>
                        </div>

                    {% endfor %}

                {% endif %}

            </div>
        </div>
    </section>

    {{ knp_pagination_render(Pagination) }} }

{% endblock %}