{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} Oceniaj wszystko i wszystkich! {% endblock %}

{% block pageDescription %} Portal z rankingami, oceniaj sławnych ludzi, filmy, youtuberów czy najlepsze piwo! Dowiedz się co inni myślą. {% endblock %}

{% block bodyId %} rank-list {% endblock %}

{% block topImage %}
    <!--Search top info-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                <img class="img-background" src="{{ asset('img/static_backgroud.jpg') }}" alt="object_bq">

                <h1>Wyszukiwanie frazy: <br /> <span class="redColor">{{ Search_phrase }}</span> </h1>

            </div>
        </div>
    </div>
    <!--END Search top info-->

{% endblock %}

{% block pageContent %}

    <section class="category-ranking">
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-xs-6">
                        {#<form action="#" method="get" class="form-inline filter-search" role="form">#}

                            {#<select name="category" class="select-block">#}
                                {#<option value="dev">Popularne</option>#}
                                {#<option value="des">Najnowsze</option>#}
                                {#<option value="tech">Najw. ocen</option>#}
                            {#</select>#}

                        {#</form>#}
                    </div>

                    <div class="col-xs-6">
                        <h6 class="pull-right"><span class="badge"><i class="fa fa-database" aria-hidden="true"></i> Rankingów: {{ Count }}</span></h6>
                    </div>
                </header>

                <!--Category rankings-->
                {% if Pagination is empty %}
                    <div class="col-xs-12">
                        <h2 class="huge_heading">Brak rankingów dla wyszukiwanej frazy</h2>
                    </div>

                {% else %}

                    {% for ranking in Pagination %}

                        <div class="ranking-list-squere col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <a href="{{ path('single_ranking', {'slug': ranking.slug }) }}">
                                    <div class="thumbnail-img">
                                        <img class="img-responsive" src="{{ ranking.thumbnail }}" alt="...">
                                    </div>
                                    <div class="caption">
                                        <h3>{{ ranking.title }} </h3>
                                        <span class="badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Głosów: 42 tyś</span>
                                        <span class="badge"><i class="fa fa-eye" aria-hidden="true"></i> Wizyt: {{ ranking.id }}</span>
                                        <p>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. Bootstrap-select is a jQuery plugin that utilizes [...] </p>
                                    </div>
                                </a>

                            </div>
                        </div>

                    {% endfor %}

                {% endif %}

            </div>
        </div>
    </section>

    {{ knp_pagination_render(Pagination) }} }

{% endblock %}