<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% spaceless %}{% block pageTitle %} {% endblock %}{% endspaceless %} | Rankingowiec.pl</title>
    <meta name="description" content="{% spaceless %}{% block pageDescription %}{% endblock pageDescription %}{% endspaceless %}">
    <meta name="author" content="Robert Saternus [robert.saternus@gmail.com]">

    {#<link rel="icon" type="image/png" href="/favicon.png">#}

    {% block stylesheets %}

        {% stylesheets
        'assets/css/bootstrap.min.css'
        'assets/css/bootstrap-theme.css'
        'assets/css/select2.min.css'
        'assets/css/style-admin.css'
        filter='cssrewrite'
        output = 'css/admin_compiled.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}


</head>

<body>

<header>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Rozwiń menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path('ranking_index') }}">Rankingowiec</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav">
                {% if currPage is not defined %}{% set currPage = 'dashboard' %}{% endif %}

                <li {% if currPage == 'dashboard' %} class="active"{% endif %}><a href="{{ path('admin_dashboard') }}">Kokpit</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">Moje konto</a></li>
                <li {% if currPage == 'rankings' %} class="active"{% endif %}><a href="{{ path('admin_rankings') }}">Rankingi</a></li>
                <li {% if currPage == 'objects' %} class="active"{% endif %}><a href="{{ path('admin_objects') }}">Obiekty</a></li>
                <li {% if currPage == 'pages' %} class="active"{% endif %}><a href="{{ path('admin_pages') }}">Strony</a></li>

                <li class="dropdown {% if currPage == 'taxonomies' %} active {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Taksonomie <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_categories') }}">Kategorie</a></li>
                        {% endif %}
                        <li><a href="{{ path('admin_tags') }}">Tagi</a></li>
                    </ul>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li {% if currPage == 'users' %} class="active"{% endif %}><a href="{{ path('admin_users') }}">Użytkownicy</a></li>
                {% endif %}
                {#<li><a href="#">Komentarze</a></li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </nav>
</header>

<section class="alerts">

    <!-- alerts container -->
    {% if app.session.flashBag.has('success') or app.session.flashBag.has('error') %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {% for success in app.session.flashBag.get('success') %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Sukces!</strong> {{ success }}
                        </div>
                    {% endfor %}

                    {% for error in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Błąd!</strong> {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

</section>


<main>
    {% block pageContent %}{% endblock %}
</main>


{% block scripts %}

    {% javascripts
    'assets/js/jquery-2.1.3.min.js'
    'assets/js/bootstrap.min.js'
    'assets/js/select2.min.js'
    'assets/js/autocompleter-select2.js'
    'assets/js/script-admin.js'
    output = 'js/admin_compiled.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>

</html>