{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} Kontakt {% endblock %}

{% block pageDescription %} Masz jakieś pytanie lub propozycję współpracy? Skontaktuj się z Twórcami Rankingowca. {% endblock %}

{% block bodyId %} static {% endblock %}

{% block topImage %}

    <!--Top Imagine for static pages-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                <img class="img-background" src="{{ vich_uploader_asset(Page, 'thumbnailFile') }}" alt="object_bq">

                <h1>Skontaktuj się z nami ;)</h1>

            </div>
        </div>
    </div>
    <!--END Object top info-->

{% endblock %}


{% block pageContent %}

    <section class="static-content {{ Page.slug }}">
        <div class="container">
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="feedback_good">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('fail') %}
                    <div class="feedback_bad">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <div class="col-md-6">

                    {{ Page.content|raw }}

                </div>

                <div class="col-md-6">

                    <form class="form-horizontal" method="post" action="{{ path('contact_page') }}" novalidate>
                        <div class="form-group">
                            {{ form_widget(contactForm.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(contactForm.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_widget(contactForm.send, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                        {{ form_rest(contactForm) }}
                        <input type="hidden" name="checker" value="1" />
                    </form>


                </div>
            </div>
        </div>
    </section>

{% endblock %}