{% extends "RankingowiecBundle::base.html.twig" %}

{% block pageTitle %} {{ Page.title }} {% endblock %}

{% block pageDescription %} {{ Page.content|cutText(180, '') }} {% endblock %}

{% block bodyId %} static {% endblock %}

{% block topImage %}

    <!--Top Imagine for static pages-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                <img class="img-background" src="{{ Page.thumbnail }}" alt="object_bq">

                <h1>{{ Page.title }}</h1>

            </div>
        </div>
    </div>
    <!--END Object top info-->

{% endblock %}


{% block pageContent %}

    <section class="static-content {{ Page.slug }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {{ Page.content|raw }}

                </div>
            </div>
        </div>
    </section>

{% endblock %}