{% form_theme form 'form/bootstrap-form-field.html.twig' %}

<form  action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">

    {{ form_widget(form) }}

    {#{{ form_row(form.username) }}#}
    {#{{ form_row(form.email) }}#}
    {#{{ form_row(form.plainPassword) }}#}

    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10 login-btn">
            <input class="btn btn-lg btn-success" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </div>

</form>

<div class="row">
    <div class="col-md-12">
        <h2 class="big_header">Masz już konto? <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a> </h2>
    </div>
</div>