{% extends "AdminBundle::base.html.twig" %}
{% form_theme Form 'AdminBundle:Form:form_template.html.twig' %}

{% set formTitle = Ranking.id is null ? 'Dodawanie nowego rankingu' : 'Edycja rankingu "%s"'|format(Ranking.title) %}

{% block pageTitle %} Formularz Rankingu {% endblock %}

{% block pageDescription %} Formularz Rankingu serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}


    <!-- content container -->
    <div class="container">
        {{ form_start(Form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ formTitle }}
                    </div>
                    <div class="panel-body">
                        {{ form_row(Form.title) }}
                        {{ form_row(Form.slug) }}
                        {{ form_row(Form.description) }}
                        {{ form_row(Form.items, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}
                    </div>
                </div>
            </div> <!-- .col-md-8 -->

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Akcje
                            </div>
                            <div class="panel-body">
                                {{ form_row(Form.save) }}
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Miniaturka
                            </div>
                            <div class="panel-body">
                                {% if Ranking.thumbnail is null %}
                                    <p>Brak miniaturki</p>
                                {% else %}
                                    <p><img src="{{ vich_uploader_asset(Ranking, 'thumbnailFile') }}" alt="" class="img-thumbnail"></p>
                                {% endif %}

                                {{ form_widget(Form.thumbnailFile) }}
                                {{ form_errors(Form.thumbnailFile) }}
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Właściwości
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div>
                                            {{ form_row(Form.publishedDate, {'label_length': 5, 'wrapper_length': 7}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-11 col-lg-offset-1">
                                        <div>
                                            {{ form_row(Form.home_page, {'label_length': 5, 'wrapper_length': 7}) }}
                                            {{ form_row(Form.main_slider, {'label_length': 5, 'wrapper_length': 7}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Taksonomie
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        {{ form_row(Form.categories, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        {{ form_row(Form.tags, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                </div>
            </div>  <!-- .col-md-4 -->
        </div> <!-- .row -->
        {{ form_end(Form) }}
    </div> <!-- .container -->
    <!-- /content container -->



    {#<!-- content container -->#}
    {#<div class="container">#}
        {#<form action="#" method="post" class="form-horizontal" role="form">#}
            {#<div class="row">#}
                {#<div class="col-md-8">#}
                    {#<div class="panel panel-default">#}
                        {#<div class="panel-heading">#}
                            {#Dodawanie nowego rankingu / Edycja rankingu "Lorem ipsum dolor sit amet."#}
                        {#</div>#}
                        {#<div class="panel-body">#}
                            {#<div class="form-group has-error">#}
                                {#<label for="title" class="col-lg-1 control-label">Tutuł</label>#}
                                {#<div class="col-lg-11">#}
                                    {#<input type="text" class="form-control" id="title" placeholder="Nazwa">#}
                                    {#<p class="help-block">Uzupełnij to pole.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<label for="alias" class="col-lg-1 control-label">Alias:</label>#}
                                {#<div class="col-lg-11">#}
                                    {#<input type="text" class="form-control" id="alias" placeholder="Alias">#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="form-group  has-error">#}
                                {#<label for="content" class="col-lg-1 control-label">Opis:</label>#}
                                {#<div class="col-lg-11">#}
                                    {#<textarea class="form-control summernote" name="content" id="content" placeholder="Opis obiektu"></textarea>#}
                                    {#<p class="help-block">Uzupełnij to pole.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<label for="ranking-list" class="col-lg-1 control-label">Lista</label>#}
                                {#<div class="col-lg-11">#}
                                    {#<select id="ranking-list" class="select-block js-objects-list-ajax" placeholder="Lista obiektów w rankingu" multiple>#}
                                        {#<option>iOS</option>#}
                                        {#<option>Android</option>#}
                                        {#<option>Windows8</option>#}
                                        {#<option>Bada</option>#}
                                        {#<option>Samsung</option>#}
                                    {#</select>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div> <!-- .col-md-8 -->#}

                {#<div class="col-md-4">#}
                    {#<div class="row">#}
                        {#<div class="col-md-12">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-heading">#}
                                    {#Akcje#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<button class="btn btn-success">Zapisz</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div> <!-- .col-md-12 -->#}

                        {#<div class="col-md-12">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-heading">#}
                                    {#Obraz#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<!-- <p><img src="..." alt="..." class="img-thumbnail"></p> -->#}
                                    {#<p>Brak obrazka</p>#}
                                    {#<input type="file" name="thumbnail">#}
                                {#</div>#}
                            {#</div>#}
                        {#</div> <!-- .col-md-12 -->#}

                        {#<div class="col-md-12">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-heading">#}
                                    {#Właściwości#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<div class="form-group">#}
                                        {#<label class="col-lg-5 required">Data publikacji</label>#}
                                        {#<div class="col-lg-7">#}
                                            {#<div>#}
                                                {#<input type="date" id="date2" name="date2" class="form-control">#}
                                                {#<input type="time" id="time" name="time" class="form-control">#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="form-group">#}
                                        {#<label for="home-slider" class="col-lg-5">Home Slider</label>#}
                                        {#<div class="col-lg-7">#}
                                            {#<div>#}
                                                {#<input type="checkbox" id="home-slider" name="home-slider" class="form-control">#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="col-md-12">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-heading">#}
                                    {#Taksonomie#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<div class="form-group">#}
                                        {#<label for="category" class="col-lg-3 control-label">Kategoria:</label>#}
                                        {#<div class="col-lg-9">#}
                                            {#<select id="category" class="select-block" placeholder="Kategoria">#}
                                                {#<option>Development</option>#}
                                                {#<option>Front-end</option>#}
                                                {#<option>Back-end</option>#}
                                                {#<option>Mobile</option>#}
                                                {#<option>Design</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="form-group">#}
                                        {#<label for="tags" class="col-lg-3 control-label">Tagi:</label>#}
                                        {#<div class="col-lg-9">#}
                                            {#<select id="tags" class="select-block" placeholder="Tagi" multiple>#}
                                                {#<option>iOS</option>#}
                                                {#<option>Android</option>#}
                                                {#<option>Windows8</option>#}
                                                {#<option>Bada</option>#}
                                                {#<option>Samsung</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div> <!-- .col-md-12 -->#}

                    {#</div>#}
                {#</div>  <!-- .col-md-4 -->#}
            {#</div> <!-- .row -->#}
        {#</form>#}
    {#</div> <!-- .container -->#}
    {#<!-- /content container -->#}

{% endblock %}