{% extends "AdminBundle::base.html.twig" %}
{% form_theme Form 'AdminBundle:Form:form_template.html.twig' %}

{% set formTitle = Ranking.id is null ? 'Dodawanie nowego rankingu' : 'Edycja rankingu "%s"'|format(Ranking.title) %}

{% block pageTitle %} Formularz Rankingu {% endblock %}

{% block pageDescription %} Formularz Rankingu serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}


    <!-- content container -->
    <div class="container">
        {{ form_start(Form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ formTitle }}
                    </div>
                    <div class="panel-body">
                        {{ form_row(Form.title) }}
                        {{ form_row(Form.slug) }}
                        {{ form_row(Form.description) }}
                        {#{{ form_row(Form.items, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}#}

                        <h3>Obiekty w rankingu</h3>
                        <div class="row js-item-wrapper" data-prototype="{{ form_widget(Form.items.vars.prototype)|e('html_attr') }}" data-index="{{ Form.items|length }}">
                            <div class="row nomargin">
                                <div class="col-md-12">
                                    <a href="#" class="js-add-item btn-lg btn-primary pull-right">
                                        <span class="add-item-plus">&#10010;</span>
                                        Dodaj nowy
                                    </a>
                                </div>
                            </div>

                            {% for rankItem in Form.items %}

                                <div class="col-md-5  item-container">
                                    <a href="#" class="js-remove-item pull-right">
                                        <span class="item-delete">&#10006;</span>
                                    </a>
                                    {{ form_errors(rankItem) }}
                                    {{ form_row(rankItem.item) }}
                                    {{ form_row(rankItem.plus) }}
                                    {{ form_row(rankItem.minus) }}
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div> <!-- .col-md-8 -->

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Akcje
                            </div>
                            <div class="panel-body">
                                {{ form_row(Form.save) }}
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Miniaturka
                            </div>
                            <div class="panel-body">
                                {% if Ranking.thumbnail is null %}
                                    <p>Brak miniaturki</p>
                                {% else %}
                                    <p><img src="{{ vich_uploader_asset(Ranking, 'thumbnailFile') }}" alt="" class="img-thumbnail"></p>
                                {% endif %}

                                {{ form_widget(Form.thumbnailFile) }}
                                {{ form_errors(Form.thumbnailFile) }}
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Właściwości
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div>
                                            {{ form_row(Form.publishedDate, {'label_length': 5, 'wrapper_length': 7}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-11 col-lg-offset-1">
                                        <div>
                                            {{ form_row(Form.home_page, {'label_length': 5, 'wrapper_length': 7}) }}
                                            {{ form_row(Form.main_slider, {'label_length': 5, 'wrapper_length': 7}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Taksonomie
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        {{ form_row(Form.categories, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        {{ form_row(Form.tags, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                </div>
            </div>  <!-- .col-md-4 -->
        </div> <!-- .row -->
        {{ form_end(Form) }}
    </div> <!-- .container -->
    <!-- /content container -->

{% endblock %}