{% extends "AdminBundle::base.html.twig" %}

{% block pageTitle %} Lista rankingów {% endblock %}

{% block pageDescription %} Lista rankingów serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}

    <!-- content container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Wyszukiwanie i filtracja
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('admin_rankings') }}" method="get" class="form-inline filter-search" role="form">
                            <div class="form-group">
                                <input type="text" name="titleLike" class="form-control" placeholder="Wyszukaj po tytule" value="{{ queryParams['titleLike'] }}">
                            </div>

                            <div class="form-group">
                                <select name="categoryId" class="select-block" placeholder="Kategoria">
                                    <option value="">Wszystkie kategorie</option>
                                    <option {{ queryParams['categoryId'] == 1 ? 'selected="selected"' : '' }} value="-1"> Brak Kategorii </option>
                                    {% for category in categoryList %}
                                        <option {{ queryParams['categoryId'] == category['id'] ? 'selected="selected"' : '' }} value="{{ category['id'] }}">{{ category['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary">Filtruj</button>
                            </div>

                            <div class="form-group pull-right limit">
                                <label for="limit" class="col-lg-5 control-label">Wyników</label>
                                <div class="col-lg-7">
                                    <select name="limit" class="select-block" id="limit" placeholder="Pokaż">
                                        {% for limit in limitList %}
                                            <option {{ limit == currLimit ? 'selected="selected"' : '' }} value="{{ limit }}">{{ limit }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Posty
                    </div>
                    <div class="panel-body">

                        <ul class="nav nav-pills pull-left">
                            {% for key, var in statusList %}
                                <li {{ currStatus == key ? 'class="active"' : ''}} >
                                    <a href="{{ path('admin_rankings', {'status': key }) }}">
                                        {{ var }} ({{ statistic[key] }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <ul class="nav nav-pills pull-right">
                            <li><a class="btn btn-lg btn-primary" href="{{ path('admin_rankingForm') }}">Dodaj nowy</a></li>
                        </ul>

                        <div class="clearfix"></div>

                        <div style="margin-top: 20px;" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(Pagination, 'ID', 'r.id' )}}</th>
                                    <th>{{ knp_pagination_sortable(Pagination, 'Tytuł', 'r.title' ) }}</th>
                                    <th>Kategorie</th>
                                    <th>Tagi</th>
                                    <th>{{ knp_pagination_sortable(Pagination, 'Autor', 'r.author') }}</th>
                                    <th>{{ knp_pagination_sortable(Pagination, 'Data utworzenia', 'r.create_date') }}</th>
                                    <th>{{ knp_pagination_sortable(Pagination, 'Data publikacji', 'r.published_date') }}</th>
                                    <th class="actions">Akcje</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for ranking in Pagination %}
                                    <tr>
                                        <td>{{ ranking.id }}</td>
                                        <td><a href="{{ path('admin_rankingForm', {'id': ranking.id }) }}">{{ ranking.title }}</a></td>
                                        <td>
                                            {% for category in ranking.categories %}
                                                <span class="label label-success">{{ category.name }}</span>
                                            {% else %}
                                                Brak Kategori
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for tag in ranking.tags %}
                                                <span class="label label-info">{{ tag.name }}</span>
                                            {% else %}
                                                Brak tagów
                                            {% endfor %}
                                        </td>
                                        <td>{{ ranking.author }}</td>
                                        <td>{{ ranking.createDate|adminFormatDate }}</td>
                                        <td>
                                            {% if ranking.publishedDate is null %}
                                                nie zaplanowano publikacji
                                            {% else %}
                                                {{ ranking.publishedDate|adminFormatDate }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('admin_rankingForm', {'id': ranking.id }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <a href="{{ path('admin_rankingDelete', {'id': ranking.id }) }}" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ranking: {{ ranking.title }}')">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">Brak dopasowanych rankingów</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>



                            {#<table class="table table-striped table-bordered table-hover">#}
                                {#<thead>#}
                                {#<tr>#}
                                    {#<th><a class="sortable" href="#">ID</a></th>#}
                                    {#<th><a class="sortable" href="#">Tytuł</a></th>#}
                                    {#<th><a class="sortable sort-desc" href="#">Kategoria</a></th>#}
                                    {#<th>Tagi</th>#}
                                    {#<th><a class="sortable" href="#">Autor</a></th>#}
                                    {#<th><a class="sortable" href="#">Data utworzenia</a></th>#}
                                    {#<th><a class="sortable" href="#">Data publikacji</a></th>#}
                                    {#<th>Akcje</th>#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-default">Default</span>#}
                                        {#<span class="label label-primary">Primary</span>#}
                                        {#<span class="label label-success">Success</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-info">Info</span>#}
                                        {#<span class="label label-warning">Warning</span>#}
                                        {#<span class="label label-danger">Danger</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-default">Default</span>#}
                                        {#<span class="label label-primary">Primary</span>#}
                                        {#<span class="label label-success">Success</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-info">Info</span>#}
                                        {#<span class="label label-warning">Warning</span>#}
                                        {#<span class="label label-danger">Danger</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-default">Default</span>#}
                                        {#<span class="label label-primary">Primary</span>#}
                                        {#<span class="label label-success">Success</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-info">Info</span>#}
                                        {#<span class="label label-warning">Warning</span>#}
                                        {#<span class="label label-danger">Danger</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-default">Default</span>#}
                                        {#<span class="label label-primary">Primary</span>#}
                                        {#<span class="label label-success">Success</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Efekt Parallax na stronie WWW</a></td>#}
                                    {#<td>Webdevelopment</td>#}
                                    {#<td>#}
                                        {#<span class="label label-info">Info</span>#}
                                        {#<span class="label label-warning">Warning</span>#}
                                        {#<span class="label label-danger">Danger</span>#}
                                    {#</td>#}
                                    {#<td>Maciej Żukiewicz</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<div class="btn-group">#}
                                            {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                            {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#</tbody>#}
                            {#</table>#}
                        </div>

                        {#<ul class="pagination pull-right">#}
                            {#<li><a href="#">&laquo;</a></li>#}
                            {#<li class="active"><a href="#">1</a></li>#}
                            {#<li><a href="#">2</a></li>#}
                            {#<li><a href="#">3</a></li>#}
                            {#<li><a href="#">4</a></li>#}
                            {#<li><a href="#">5</a></li>#}
                            {#<li><a href="#">&raquo;</a></li>#}
                        {#</ul>#}

                        {{ knp_pagination_render(Pagination, 'AdminBundle:Pagination:admin_pagination.html.twig') }}

                    </div> <!-- .panel-body -->
                </div> <!-- .panel -->
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
    <!-- /content container -->

{% endblock %}