{% extends "AdminBundle::base.html.twig" %}
{% form_theme Form 'AdminBundle:Form:form_template.html.twig' %}

{% set formTitle = Page.id is null ? 'Dodawanie nowej strony' : 'Edycja strony "%s"'|format(Page.title) %}

{% block pageTitle %} Formularz strony statycznej {% endblock %}

{% block pageDescription %} Formularz strony statycznej serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}

    <div class="container">
        {{ form_start(Form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ formTitle }}
                    </div>
                    <div class="panel-body">
                        {{ form_row(Form.title) }}
                        {{ form_row(Form.slug) }}
                        {{ form_row(Form.content) }}
                    </div>
                </div>
            </div> <!-- .col-md-8 -->

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Akcje
                            </div>
                            <div class="panel-body">
                                {{ form_row(Form.save) }}
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Grafika tła
                            </div>
                            <div class="panel-body">
                                {% if Page.thumbnail is null %}
                                    <p>Brak miniaturki</p>
                                {% else %}
                                    <p><img src="{{ vich_uploader_asset(Page, 'thumbnailFile') }}" alt="" class="img-thumbnail"></p>
                                {% endif %}

                                {{ form_widget(Form.thumbnailFile) }}
                                {{ form_errors(Form.thumbnailFile) }}
                            </div>
                        </div>
                    </div> <!-- .col-md-12 -->

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Właściwości
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div>
                                            {{ form_row(Form.publishedDate, {'label_length': 5, 'wrapper_length': 7}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>  <!-- .col-md-4 -->
        </div> <!-- .row -->
        {{ form_end(Form) }}
    </div> <!-- .container -->

{% endblock %}