{% extends "AdminBundle::base.html.twig" %}
{% form_theme Form 'AdminBundle:Form:form_template.html.twig' %}

{% set formTitle = 'Edycja użytkownika "%s"'|format(User.username) %}

{% block pageTitle %} Formularz użytkownika {% endblock %}

{% block pageDescription %} Formularz użytkownika serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}

    <div class="container">
        {{ form_start(Form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dane podstawowe
                    </div>
                    <div class="panel-body">
                        {{ form_row(Form.username) }}
                        {{ form_row(Form.email) }}
                        {{ form_row(Form.roles, {'attr': {'class': 'select-block'}}) }}
                    </div>
                </div>
            </div> <!-- .col-md-8 -->

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Akcje
                            </div>
                            <div class="panel-body">
                                {{ form_row(Form.save) }}
                            </div>
                        </div>
                    </div>  <!-- .col-md-12 -->

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Dostepność
                            </div>
                            <div class="panel-body account-checkbox">
                                {% set labelWidth = 9 %}
                                {% set wrapperWidth = 3 %}
                                {{ form_row(Form.expired, {'label_length': labelWidth, 'wrapper_length': wrapperWidth}) }}
                                {{ form_row(Form.locked, {'label_length': labelWidth, 'wrapper_length': wrapperWidth}) }}
                                {{ form_row(Form.credentialsExpired, {'label_length': labelWidth, 'wrapper_length': wrapperWidth}) }}
                                {{ form_row(Form.enabled, {'label_length': labelWidth, 'wrapper_length': wrapperWidth}) }}
                            </div> <!-- .panel-body -->
                        </div> <!-- .panel -->
                    </div> <!-- .col-md-12 -->
                </div> <!-- .row -->
            </div> <!-- .col-md-4 -->
        </div> <!-- .row -->

        {{ form_end(Form) }}
    </div> <!-- .container -->

    {#<div class="container">#}
        {#{{ Form_start(Form) }}#}
        {#<div class="row">#}
            {#<div class="col-md-8">#}
                {#<div class="panel panel-default">#}
                    {#<div class="panel-heading">#}
                        {#{{ FormTitle }}#}
                    {#</div>#}
                    {#<div class="panel-body">#}
                        {#{{ Form_row(Form.title) }}#}
                        {#{{ Form_row(Form.slug) }}#}
                        {#{{ Form_row(Form.content) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div> <!-- .col-md-8 -->#}

            {#<div class="col-md-4">#}
                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<div class="panel panel-default">#}
                            {#<div class="panel-heading">#}
                                {#Akcje#}
                            {#</div>#}
                            {#<div class="panel-body">#}
                                {#{{ Form_row(Form.save) }}#}
                            {#</div>#}
                        {#</div>#}
                    {#</div> <!-- .col-md-12 -->#}

                    {#<div class="col-md-12">#}
                        {#<div class="panel panel-default">#}
                            {#<div class="panel-heading">#}
                                {#Grafika tła#}
                            {#</div>#}
                            {#<div class="panel-body">#}
                                {#{% if Page.thumbnail is null %}#}
                                    {#<p>Brak miniaturki</p>#}
                                {#{% else %}#}
                                    {#<p><img src="{{ vich_uploader_asset(Page, 'thumbnailFile') }}" alt="" class="img-thumbnail"></p>#}
                                {#{% endif %}#}

                                {#{{ Form_widget(Form.thumbnailFile) }}#}
                                {#{{ Form_errors(Form.thumbnailFile) }}#}
                            {#</div>#}
                        {#</div>#}
                    {#</div> <!-- .col-md-12 -->#}

                    {#<div class="col-md-12">#}
                        {#<div class="panel panel-default">#}
                            {#<div class="panel-heading">#}
                                {#Właściwości#}
                            {#</div>#}
                            {#<div class="panel-body">#}
                                {#<div class="Form-group">#}
                                    {#<div class="col-lg-12">#}
                                        {#<div>#}
                                            {#{{ Form_row(Form.publishedDate, {'label_length': 5, 'wrapper_length': 7}) }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                {#</div>#}
            {#</div>  <!-- .col-md-4 -->#}
        {#</div> <!-- .row -->#}
        {#{{ Form_end(Form) }}#}
    {#</div> <!-- .container -->#}

{% endblock %}