{% extends "AdminBundle::base.html.twig" %}

{% block pageTitle %} Lista użytkowników {% endblock %}

{% block pageDescription %} Lista użytkowników serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}

    <!-- content container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Wyszukiwanie i filtracja
                    </div>
                    <div class="panel-body">
                        <form action="#" method="get" class="form-inline filter-search" role="form">
                            <div class="form-group">
                                <input type="text" name="title" class="form-control" placeholder="Wyszukaj po nicku">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary">Filtruj</button>
                            </div>

                            <div class="form-group pull-right limit">
                                <label for="limit" class="col-lg-5 control-label">Wyników</label>
                                <div class="col-lg-7">
                                    <select name="limit" class="select-block" id="limit" placeholder="Pokaż">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Użytkownicy</div>
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(Pagination, 'ID', 'u.id' )}}</th>
                                    <th>{{ knp_pagination_sortable(Pagination, 'Nazwa', 'u.username' ) }}</th>
                                    <th>{{ knp_pagination_sortable(Pagination, 'Email', 'u.email') }}</th>
                                    <th>{{ knp_pagination_sortable(Pagination, 'Ostatnie logowanie', 'u.roles') }}</th>
                                    {#<th>{{ knp_pagination_sortable(Pagination, 'Data publikacji', 'p.published_date') }}</th>#}
                                    <th>Akcje</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for user in Pagination %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td><a href="{{ path('admin_userForm', {'id': user.id }) }}">{{ user.username }}</a></td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.roles[0] == 'ROLE_ADMIN' %} Administrator {% endif %}
                                            {% if user.roles[0] == 'ROLE_EDITOR' %} Edytor {% endif %}
                                            {% if user.roles[0] == 'ROLE_USER' %} Użytkownik {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('admin_userForm', {'id': user.id }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <a href="{{ path('admin_userDelete', {'id': user.id }) }}" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć użytkownika: {{ user.username }}')">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">Brak dopasowanych użytkowników</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            {#<table class="table table-striped table-bordered table-hover">#}
                                {#<thead>#}
                                {#<tr>#}
                                    {#<th><a class="sortable" href="#">ID</a></th>#}
                                    {#<th><a class="sortable sort-desc" href="#">Nick</a></th>#}
                                    {#<th><a class="sortable sort-asc" href="#">Email</a></th>#}
                                    {#<th><a class="sortable" href="#">Data rejestracji</a></th>#}
                                    {#<th>Akcje</th>#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td><a href="#">Macq</a></td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td>Macq</td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td>Macq</td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td>Macq</td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td>Macq</td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td>Macq</td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td>Macq</td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>1</td>#}
                                    {#<td>Macq</td>#}
                                    {#<td>maciek@eduweb.pl</td>#}
                                    {#<td>15.10.2013, 14:23:12</td>#}
                                    {#<td>#}
                                        {#<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>#}
                                        {#<a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#</tbody>#}
                            {#</table>#}
                        </div>

                        {#<ul class="pagination pull-right">#}
                            {#<li><a href="#">&laquo;</a></li>#}
                            {#<li class="active"><a href="#">1</a></li>#}
                            {#<li><a href="#">2</a></li>#}
                            {#<li><a href="#">3</a></li>#}
                            {#<li><a href="#">4</a></li>#}
                            {#<li><a href="#">5</a></li>#}
                            {#<li><a href="#">&raquo;</a></li>#}
                        {#</ul>#}

                        {{ knp_pagination_render(Pagination, 'AdminBundle:Pagination:admin_pagination.html.twig') }}

                    </div> <!-- .panel-body -->
                </div> <!-- .panel -->
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
    <!-- /content container -->

{% endblock %}