<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>{% spaceless %}{% block pageTitle %} {% endblock %}{% endspaceless %} | Rankingowiec.pl</title>
    <meta name="description"
          content="{% spaceless %}{% block pageDescription %}{% endblock pageDescription %}{% endspaceless %}"/>
    <meta name="keywords" content="Ranking, rankingi, oceniać"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge.chrome=1"/>
    <meta name="author" content="Robert Saternus [robert.saternus@gmail.com]">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="shortcut icon" href="img/favicon.ico" type="image/icon">-->



    {% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Pragati+Narrow:700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {% stylesheets
            'assets/css/html5reset-1.6.1.css'
            'assets/css/bootstrap.min.css'
            'assets/css/font-awesome.min.css'
            'assets/css/select2.min.css'
            'assets/css/style_main.css'
            'assets/css/media-queries.css'
            filter='cssrewrite'
            output = 'css/website_compiled.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    {% block customScripts %}{% endblock %}

</head>

<body id="{% spaceless %}{% block bodyId %} {% endblock %}{% endspaceless %}">

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.7&appId=603470526483998";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<!--HEADER -->
<header>
    <!--STICKY BAR-->
    <div id="header-top">
        <div class="burger"><i class="fa fa-thumbs-up" aria-hidden="true"></i>RANKINGI</div>
        <div class="traggle-menu">
            <i class="fa fa-times-circle close" aria-hidden="true"></i>

            <div class="logo">
                <h1><a href="{{ path('ranking_index') }}">RANKING <br/> - owiec</a></h1>
            </div>

            <nav>
                <ul>
                    <li><a href="{{ path('ranking_category', {'slug': 'ludzie' }) }}"><i class="fa fa-users" aria-hidden="true"></i> LUDZIE </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'film' }) }}"><i class="fa fa-video-camera" aria-hidden="true"></i> FILM </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'telewizja' }) }}"><i class="fa fa-television" aria-hidden="true"></i> TELEWIZJA </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'muzyka' }) }}"><i class="fa fa-music" aria-hidden="true"></i> MUZYKA </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'sport' }) }}"><i class="fa fa-futbol-o" aria-hidden="true"></i> SPORT </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'gry' }) }}"><i class="fa fa-gamepad" aria-hidden="true"></i> GRY </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'internet' }) }}"><i class="fa fa-laptop" aria-hidden="true"></i> INTERNET </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'zabawne' }) }}"><i class="fa fa-smile-o" aria-hidden="true"></i> ZABAWNE </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'nauka' }) }}"><i class="fa fa-flask" aria-hidden="true"></i> NAUKA </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'ksiazki' }) }}"><i class="fa fa-book" aria-hidden="true"></i> KSIĄŻKI </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'wydarzenia' }) }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> WYDARZENIA </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'technologia' }) }}"><i class="fa fa-rocket" aria-hidden="true"></i> TECHNOLOGIA </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'polityka-i-historia' }) }}"><i class="fa fa-fort-awesome" aria-hidden="true"></i> POLITYKA I HISTORIA </a></li>
                    <li><a href="{{ path('ranking_category', {'slug': 'jedzenie-i-napoje' }) }}"><i class="fa fa-cutlery" aria-hidden="true"></i> JEDZENIE I NAPOJE </a></li>
                    <li><a href="{{ path('ranking_page_map') }}"><i class="fa fa-sitemap" aria-hidden="true"></i> MAPA KATEGORI </a></li>
                </ul>
            </nav>
        </div>


        <div class="icons-header">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                {#<li><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-user" aria-hidden="true"></i></a></li>#}
                <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('ranking_index') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <!--end sticky bar-->


    <!-- Modal with searching form -->
    <div id="search-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">SZUKAJ NA RANKINGOWCU</h3>
                </div>
                <div class="modal-body">

                    <form class="form-inline" action="{{ path('ranking_search') }}" method="get">
                        <div class="form-group">
                            <label class="sr-only" for="search-input">Szukaj:</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <input type="text" class="form-control" id="search-input" name="search" placeholder="Szukana fraza...">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Szukaj</button>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block topImage %}{% endblock %}

    {% block underImage %}{% endblock %}

</header>


<main>
    {% block pageContent %}{% endblock %}
</main>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 myself">
                <p><strong>RANKINGOWIEC</strong> to witryna, która umożliwia głosowanie praktycznie wszystko przez
                    wszystkich. Mamy dość opinii pojedyńczyć ludzi, dlatego stworzyliśmy serwis, gdzie rankingi bazują
                    opinii większości. Dopiero ruszamy ale i tak dodajemy kilka rankingów dziennie.
                    {#Chcemy aby Rankingowiec był dla Was, dlatego zapraszamy do dyskucji w <a href="#">poczekalni</a>#}
                    {#oraz <a href="#">listy to-do</a>#}</p>
            </div>

            <div class="col-sm-4 nav-footer">
                <div class="col-md-4 hidden-xs hidden-sm ico"><i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 col-sm-12 navi">
                    <ul>
                        <li><a href="{{ path('static_page', {'slug': 'faq' }) }}">FAQ</a></li>
                        <li><a href="{{ path('static_page', {'slug': 'jak-to-dziala' }) }}">JAK TO DZIAŁA</a></li>
                        <li><a href="{{ path('ranking_page_map') }}">MAPA STRONY</a></li>
                        <li><a href="{{ path('contact_page') }}">KONTAKT</a></li>
                        <li><a href="{{ path('static_page', {'slug': 'regulamin' }) }}">REGULAMIN</a></li>
                        <li><a href="{{ path('static_page', {'slug': 'polityka-prywatnosci' }) }}">POLITYKA PRYWATNOŚCI</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">&copy; Wykonanie i prowadzenie strony: <a href="http://robertsaternus.pl/">Robert Saternus</a></div>
</footer>


<!--SOCIAL MEDIA ICONS-->
<div id="fb-widget">
    <div class="fb-page" data-href="https://www.facebook.com/freelancelotPL" data-tabs="timeline"
         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/freelancelotPL" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/freelancelotPL">FreeLancelot</a></blockquote>
    </div>
    <img class="zakladka" src="{{ asset('img/facebook-icon.png') }}" alt="Rankingowiec facebook funpage"/>
</div>

{% block scripts %}

    {% javascripts
        'assets/js/jquery-2.1.3.min.js'
        'assets/js/jquery-ui.min.js'
        'assets/js/bootstrap.min.js'
        'assets/js/select2.min.js'
        'assets/js/jquery.cookie.js'
        'assets/js/script_main.js'
        output = 'js/website_compiled.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


{% endblock %}

</body>

</html>