{% extends "AdminBundle::base.html.twig" %}
{% form_theme Form 'AdminBundle:Form:form_template.html.twig' %}

{% set pageTitle = Category.id is null ? 'Dodawanie nowej kategorii' : 'Edycja kategorii "%s"'|format(Category.name) %}

{% block pageTitle %} Formularz kategorii {% endblock %}

{% block pageDescription %} Formularz kategorii serwisu Rankingowiec.pl {% endblock %}

{% block pageContent %}

    <!-- content container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ pageTitle }}
                    </div>
                    <div class="panel-body">
                        {{ form_start(Form) }}
                        {{ form_row(Form.name) }}
                        {{ form_row(Form.slug) }}
                        {{ form_row(Form.save, {'attr': {'class': 'pull-right'}}) }}
                        {{ form_end(Form) }}
                    </div>
                </div> <!-- .panel -->
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
    <!-- /content container -->

{% endblock %}