<aside class="sidebar pull-right col-md-3 hidden-sm hidden-xs">

    <section>
        <header>
            <h3>Inne ciekawe rankingi</h3>
        </header>

        {% for ranking in SidebarRankings %}

            <div class="col-xs-12 ranking">
                <a href="{{ path('single_ranking', {'slug': ranking.slug }) }}">
                    <img class="img-responsive myBackgroundImage" src="{{ ranking.thumbnail }}" alt="1">
                    <div class="rank-title "><h5>{{ ranking.title }}</h5></div>
                </a>
            </div>

        {% endfor %}

    </section>

    <section>
        <header>
            <h3>Chmura tagów</h3>
        </header>

        <ul class="tag-cloud">
            {% for tag in SidebarTags %}
                <li><a href="{{ path('ranking_tag', {'slug': tag.slug }) }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
</aside>